body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.tabs button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.tabs button.active {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #fff;
    z-index: 2;
}

.tabs button:not(:last-child) {
    border-right: none;
}

.tab-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    position: relative;
    z-index: 1;
}

.tab-item {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-item:hover {
    background-color: #f1f3f6;
}

.details {
    padding: 30px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.details h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    font-size: 24px;
    color: #3f51b5;
}

.detail-row {
    display: flex;
    align-items: center;
}

.detail-label {
    font-weight: 600;
    color: #333;
    margin-right: 8px;
}

.detail-value {
    font-size: 16px;
    color: #555;
    flex-grow: 1;
}

.detail-icon {
    font-size: 18px;
    color: #3f51b5;
    margin-right: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}